.ant-tree-title{
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: space-between;
}

.ant-tree-node-content-wrapper {
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: space-between;
}
.ant-tree-treenode {
  width:880px;
}

.study_next_page_tabs > .ant-tabs-nav .ant-tabs-tab-active{
  border-left:5px solid #696969;
}
.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected,
.ant-tree .ant-tree-node-content-wrapper:hover{
  background-color: transparent;
}

.detail_hide{
  display:none;
}
.detail_show{
  display:block;
}

.ant-tree-indent-unit{
  width:10px;
}
.ant-tree-show-line .ant-tree-switcher{
  background:#f5f5f5;
}

