.like_list_contents:nth-child(odd){
  background-color:#fbfbf9;
}

.change_book_title_input_form{
  flex-direction: row;
  justify-content: space-between;
}
.change_book_title_input_form .ant-form-item{
  width:128px;
  margin:0;
}
.change_book_title_input_form .change_book_title_buttons{
  width:72px;
  margin:0;
}
.change_book_title_input_form .ant-col{
  background-color:white;
}

.each_category_container .like_list_contents:not(:first-child) ul li:nth-child(1){
  visibility: hidden;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
    color:blue;
    transform:scale(1.005); 
  }
  100% {
    color:blue;

  }
}